<section class="section testimonials py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range $i, $e := .content.list }}
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4 shadow">
            {{ with $e.image }}{{ partial "utilities/image-fluid.html" $e }}{{ end }}
            <div class="card-body">
              <div class="mb-4">
                {{ if eq $e.gender "male" }}
                  <div class="text-primary">{{ partial "icons/person-male.html" }}</div>
                {{ else if eq $e.gender "female" }}
                  <div class="text-danger">{{ partial "icons/person-female.html" }}</div>
                {{ else }}
                  <div class="text-secondary">{{ partial "icons/person-male.html" }}</div>
                {{ end }}
              </div>
              <p class="card-text text-black-61">"{{ $e.text }}"</p>
              <p class="fw-bold text-primary mt-2">{{ $e.client }}</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
